### Node
node_modules/
frontend/node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

### npm/Yarn lockfiles (optional)
# package-lock.json
# yarn.lock

### Electron / build
dist/
out/
release/
*.asar

### Logs
logs/
*.log
*.log.*

### Environment
.env
.env.local
.env.*.local

### OS files
.DS_Store
Thumbs.db

### Editors/IDEs
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

### Python
__pycache__/
*.py[cod]
*$py.class
*.pyo
*.pyd
*.pyc
venv/
.venv/

### Misc
coverage/
/.cache
*.tgz
.local
